*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    
    width: 80%;
    margin: 0 auto; /* if margin value is given 0000 this way , that means its clock wise */
   padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 10px;
}
 .text-right{
     text-align: right;
 }
 .text-center{
     text-align: center;
 }
 .text-white{
     color: white;
 }
.clearfix{
  clear: both;
  float: none;  
}

a{
    color:#000000;
    text-decoration: none;   
}
a:hover{
    color:#d63031 ;
}


.float-container{
    position: relative;
  
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.logo{
    
    width: 10%;
    float: left;
}
.menu{
    line-height: 55px;
}
.menu ul{
 list-style-type: none;
 
}
.menu ul li{
    display:inline;
    padding: 1%;
    font-weight: bold;
    
}
.menu button{
    border: none;
    color: white;
    text-decoration: none;
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #ff7675;
    color: white;
    cursor: pointer;

    
}